body, button { 
    font-family: 'Cal Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf6ff;
    color: #333;
} 

.logo {
    animation: slideUp 1.2s ease-out forwards;
}

h1 {
    margin-right: 0px;
    font-size: 25px;
    color: black;
}
 h2, h3, h6 {
    color: black;
    font-size: 30px;
    text-align: center;
    font-size: 25px;
}
 h5 {
    font-size: 13px;
 }

section {
    padding: 20px;
    background-color: #f5f9ff;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black;
}
section div  {
    color: black;
    margin-right: 200px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: white;
 }

div {
        font-size: 30px;
        font-weight: lighter;
        color: black;
        
    } 
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
     
nav ul a { 
    text-decoration: none;
    padding: 10px 15px;
    
    color: black;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 10px;
    display: inline-block;
    font-weight: 300;
    position: relative;
    overflow: hidden; 
}

nav ul a:hover, div button:hover {
    color:white;
    background-image: linear-gradient(to right,
    #00fffb, /* Red */
        #00ffff, /* Orange */
        #00c8ff, /* Yellow */
        #00b3ff, /* Green */
        #006aff, /* Blue */
        #004882, /* Indigo */
        #180b8b  /*Violet*/
        
    );
    background-size: 300% 100%;
    animation: rainbowShift 3s linear 2 forwards;

}
    
div button {
    text-decoration: none;
    background-color: blue;
    color: white;
    transition: 0,3s;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    display: inline-block;
    font-family: 'Cal Sans',sans-serif;
    font-weight: 300;
}
  


.wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    flex-shrink: 0;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background: #0073e6;
    color: white;
}
 



 li {
    margin-right: 20px;
 }

 html {  
   scroll-behavior: smooth;
 }
 

.about-section {
    background-color: transparent; 
    padding: 60px 200px;
    text-align: center; 
    color: #000;
    
}


.page-title {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 40px;
    font-weight: bolder;
}


.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
}


.bio-card {
    flex: 1;
    min-width: 320px;
    text-align: center; 
}

.bio-card p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: black;
    margin-top: 20px;
    text-align: center;
}


.contact-card {
    flex: 1;
    min-width: 320px;
 
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; 
    margin-top: 20px ; 
    text-align: center;
    width: 100%;
    

}




.contact-links a, .contact-links p {
    display: inline-block;
    text-decoration: none;
    color: #0056b3;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    margin: 5px 0;
}

.contact-links a:hover {
    color: linear-gradient(to right,
    #00fffb, /* Red */
        #00ffff, /* Orange */
        #00c8ff, /* Yellow */
        #00b3ff, /* Green */
        #006aff, /* Blue */
        #004882, /* Indigo */
        #180b8b  /*Violet*/ );
        animation: rainbowShift 3s linear 2 forwards;
    
}


.experience-section {
    background-color: white;
    padding: 60px 20px;
    min-height: 100vh;
}

.experience-section h3 {
    font-size: 2.5rem;
    color: #0073e6;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;
}

.experience-item {
    background: white;
    max-width: 1200px; 
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto; 
    transition: 0.3s;
    text-align: center; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.experience-item:hover {
    border-color: #007bff;
    box-shadow: 0 10px 30px rgba(0, 123, 255, 0.1);
}

.experience-item h4 {
    font-size: 1.6rem; 
    color: #0073e6;
    margin-bottom: 10px;
    font-weight: bolder;
}


.experience-item p {
    font-size: 1.1rem;
    text-align: center;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}


.experience-item ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: center; 
}

.experience-item ul li {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #444;
    margin-bottom: 8px;
    line-height: 1.5;
}


@keyframes slideUp {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rainbowShift { 
    0% { background-position: 0%, 50%; }
  100% { background-position: 100%, 50%; }
}

button, a {
    border: none;
    outline: none; 
}

.resume-btn {
    color: white;
    text-decoration: none;
}

.hero  {
    background-color: transparent;
    box-shadow: none;
}

.intro-para { 
    max-width: 600px;
    line-height: 28px;
    margin-right: auto;
} 


.skills-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    animation: none;
}


.skill-box {
    flex: 1;
    min-width: 300px;
    max-width: 380px;
    text-align: center;
}


.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


.tech-tag {
    background: #eef6ff;
    color: #0056b3;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 18px; 
    font-weight: bold;
    display: inline-block;
}

.project-card {
    background: white;
    max-width: 1200px;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.project-card:hover {
    border-color: #007bff; 
    box-shadow: 0 10px 30px rgba(0, 123, 255, 0.1);
}

.tech-tag {
    background: #eef6ff;
    color: #0056b3;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.project-links a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 80px;
    text-align: center;
    font-size: 15px;
}
.project-card h2, h3 {
    font-size: 1.6rem; 
    color: #0056b3;
    margin-bottom: 15px;
   
}


.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
    padding: 50px;
}

/* The Background Overlay */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8)
    
}

/* The White Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 30px;
    border-radius: 15px;
    width: 60%; 
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
    overflow-y: auto;
    position:relative;
    max-height: 80vh;
}


pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto; 
    text-align: left;
    font-size: 16px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover { color: #000; }
